:root {
  --black-brand: #3d1d1d;
}

/* INDICATORI LINK NAV BAR */

.main-link::before {
  content: '';
  display: inline-block;
  background: transparent;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 50%;
  transition: 0.2s;
  transform: rotate(0deg);
}

.main-link:hover::before,
.main-link.w--current::before {
  background-color: var(--black-brand);
  left: 24%;
  transform: rotate(225deg);
}

a.main-link.special:hover::before,
a.main-link.special.w--current::before {
  left: 20%;
}

.lang-indicator.active {
  animation: toggle-lang-it .2s ease-in-out forwards !important;
  transform-style: preserve-3d !important;
}

.lang-indicator.active-state {
  left: 14px;
}

.lang-indicator.de-active {
  animation: toggle-lang-en .2s ease-in-out forwards !important;
  transform-style: preserve-3d;
}

@keyframes toggle-lang-it {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }

  100% {
    transform: translate3d(14px, 0px, 0px);
  }
}

@keyframes toggle-lang-en {
  0% {
    transform: translate3d(14px, 0px, 0px);
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

@media screen and (max-width: 479px) {

  .main-link:hover::before,
  .main-link.w--current::before {
    border-radius: 0;
    background: white;
    position: static;
    margin-right: 10px;
    animation: indicator-opacity-offc var(--time-opacity) ease-in-out infinite;
  }

  @keyframes indicator-opacity-offc {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .lang-wrapper-offc .lang-separator,
  .lang-wrapper-offc .lang-indicator {
    background-color: white;
  }

  .lang-wrapper-offc a {
    color: white;
  }

}