:root {
  --black-brand: #3d1d1d;
}

/* INDICATORI LINK NAV BAR */

.main-link::before {
  content: '';
  display: inline-block;
  background: var(--black-brand);
  width: 5px;
  height: 5px;
  margin-right: 5px;
}