:root {
  --black-brand: #3d1d1d;
}

/* INDICATORI LINK NAV BAR */

.main-link::before {
  content: '';
  display: inline-block;
  background: transparent;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 50%;
  transition: 0.2s;
  transform: rotate(0deg);
}

.main-link:hover::before,
.main-link.w--current::before {
  background-color: var(--black-brand);
  left: 24%;
  transform: rotate(225deg);
}

a.main-link.special:hover::before,
a.main-link.special.w--current::before {
  left: 20%;
}